# Manipulações com Python

Trabalhando com strings: Passando os valores para duas variáveis diferentes, para após exibí-las, avaliar o tipo e verificar se as duas contém o mesmo conteúdo:

In [1]:
string1 = "Andrew"
string2 = "Prado"
print(string1)
print(string2)
print(type(string1))
print(type(string2))
string1 == string2

Andrew
Prado
<class 'str'>
<class 'str'>

False

Atribuindo valor para a variável resto por meio da operação %:

In [2]:
variavel1 = 17
variavel2 = 10
resto = variavel1%variavel2
print(resto)

7

Trabalhando com listas: Atribuindo uma lista para a variável, posteriormente, exibindo os valores e o tipo de classe da variável:

In [3]:
lista_ex2 = ["Andrew", "Prado", "Andrew", "Prado", "Eduarda", "Ardenghi", "Eduarda", "Ardenghi", "Amanda", "Oliveira", "Amanda", "Oliveira"]
print(lista_ex2)
print(type(lista_ex2))

['Andrew', 'Prado', 'Andrew', 'Prado', 'Eduarda', 'Ardenghi', 'Eduarda', 'Ardenghi', 'Amanda', 'Oliveira', 'Amanda', 'Oliveira']
<class 'list'>

Trabalhando com a função Set: Convertendo a lista anterior para a classe set, assim, removendo todos os itens duplicados da lista, comprovado por meio da extensão da lista antes (len = 12) e depois (len= 6):

In [4]:
print(len(lista_ex2))
lista_ex2 = set(lista_ex2)
print(set(lista_ex2))
print(len(set(lista_ex2)))
print(type(lista_ex2))

12
{'Andrew', 'Amanda', 'Prado', 'Oliveira', 'Eduarda', 'Ardenghi'}
6
<class 'set'>

Trabalhando com listas e dicionários utilizando a função zip, para unir as listas e transformar posteriormente em dicionários:

In [5]:
lista_nomes_clientes = ["Andrew", "Eduarda", "Amanda", "Bianca", "Antônio"]
lista_produtos_consumidos = ["A, B, C", "A, C", "C, D, E", "A", "B, D"]
print(lista_nomes_clientes)
print(lista_produtos_consumidos)
print(type(lista_nomes_clientes))
print(type(lista_produtos_consumidos))
lista_resumo = list(zip(lista_nomes_clientes, lista_produtos_consumidos)) ; lista_resumo
print(lista_resumo)
print(type(lista_resumo))
dicionario = dict(lista_resumo)
print(dicionario)
print(type(dicionario))

['Andrew', 'Eduarda', 'Amanda', 'Bianca', 'Antônio']
['A, B, C', 'A, C', 'C, D, E', 'A', 'B, D']
<class 'list'>
<class 'list'>
[('Andrew', 'A, B, C'), ('Eduarda', 'A, C'), ('Amanda', 'C, D, E'), ('Bianca', 'A'), ('Antônio', 'B, D')]
<class 'list'>
{'Andrew': 'A, B, C', 'Eduarda': 'A, C', 'Amanda': 'C, D, E', 'Bianca': 'A', 'Antônio': 'B, D'}
<class 'dict'>

Impressão de frase

In [10]:
print("Eu sou Minerador de Dados")

Eu sou Minerador de Dados

Operação de soma:

In [15]:
soma = 1+1
soma

2

Operação de subtração:

In [17]:
subtracao = 1-1
subtracao

0

Operação de multiplicação:

In [19]:
multiplicacao = 2*2
multiplicacao

4

Operação de divisão

In [21]:
divisao = multiplicacao/soma
divisao

2.0

Tipo de variável

In [36]:
type(soma)

float

Conversão de tipo de variável:

In [33]:
soma = float(soma)

Exibição do tipo de variável:

In [39]:
type(soma)

float

Conversão de tipo de variável:

In [41]:
soma = str(soma)

Exibição do tipo de variável:

In [43]:
type(soma)

str

Arredondamento de valores:

In [45]:
round(2.898)

3

Arredondamento de valores com 2 casas decimais:

In [47]:
round(2.4545455, 4)

2.4545

Criação de variável com nome:

In [73]:
nome = "andrew"
nome

'andrew'

Exibição do tipo de variável:

In [53]:
type(nome)

str

Adição de string em variável:

In [74]:
nome = nome + ' prado'
nome

'andrew prado'

Criação de variáveis:

In [79]:
conta = 'andrewpt@edu.unisinos.br'
idade = '24 anos'

Exibição do conteúdo da variável

In [81]:
print(conta + ' e ' + idade)

andrewpt@edu.unisinos.br e 24 anos

Erro na variável break: a palavra break é uma das já reservadas para funções que já estão incorporadas ao Python, ou seja, não podem ser atribuidas a outro fim que não seja o atribuído.

In [82]:
break = 10

SyntaxError: invalid syntax (<ipython-input-82-9f64e1454aa4>, line 1)

Criação de variável:

In [95]:
variavel = 'Python é uma maldição!'
variavel

'Python é uma maldição!'

Exibição do primeiro caractere da string:

In [103]:
variavel[0]

'P'

Exibição dos seis primeiros caracteres da string:

In [107]:
variavel[:6]

'Python'

Exibição do número de caracteres da string:

In [110]:
len(variavel)

22

Criação de variável:

In [112]:
contagem = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."

Contagem da palavra 'dados' na string:

In [114]:
contagem.count('dados')

2

Alteração da primeira letra da string para maíuscula:

In [116]:
contagem.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

Quebra da string por palavras:

In [117]:
contagem.split()

['dados',
 'é',
 'o',
 'novo',
 'petróleo,',
 'em',
 'Deus',
 'eu',
 'confio,',
 'para',
 'o',
 'resto',
 'me',
 'traga',
 'dados..']

Criação de lista:

In [186]:
idades = [12, 13, 14, 15]

Exibição do segundo valor da lista:

In [123]:
idades[1]

13

Exibição da quantidade de itens na lista:

In [125]:
len(idades)

4

Alteração do segundo item da lista:

In [187]:
idades[1] = 88
idades

[12, 88, 14, 15]

Exibição a partir do segundo item da lista:

In [183]:
idades[1:]

[88, 14, 15]

Remoção do segundo item da lista:

In [188]:
del(idades[1])
idades

[12, 14, 15]

Criação de lista:

In [192]:
salarios = [900, 1200, 1500, 800, 12587, 10000]

Verificação de item na lista:

In [193]:
10000 in salarios

True

Exibição do menor valor da lista:

In [194]:
min(salarios)

800

Exibição do maior valor da lista:

In [195]:
max(salarios)

12587

Adição de item na lista:

In [196]:
salarios.append(7000)
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

Adição de dois itens a lista:

In [197]:
salarios.extend([753, 852])
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 753, 852]

Verificação de posição de item na lista:

In [198]:
salarios.index(800)

3

Ordenação crescente dos itens da lista:

In [199]:
salarios.sort()
salarios

[753, 800, 852, 900, 1200, 1500, 7000, 10000, 12587]

Ordenação decrescente dos itens da lista:

In [200]:
salarios.sort(reverse=True)
salarios

[12587, 10000, 7000, 1500, 1200, 900, 852, 800, 753]