# Manipulações de DB em Sqlite3
Criação de tabela dados_cadastrais onde cada linha representa um funcionário e com os seguintes atributos: id, nome, sobrenome, data_nasci_ cpf e endereco; Criar uma tabela de dados_profissionais com id, graduacao, cargo, salario e tempo_casa. Após, foi criado outros 4 registros para inserir na tabela:

In [9]:
import sqlite3
conndc = sqlite3.connect("dados_cadastrais")
print(conndc)
cursordc = conndc.cursor()
cursordc.execute("CREATE TABLE dados_cadastrais (id integer, nome text, sobrenome text, cpf integer, endereco text)")

<sqlite3.Connection object at 0x0000023DF8029B70>

In [12]:
cursordc.execute("INSERT INTO dados_cadastrais VALUES(1, 'maria', 'silva', 11111211313, 'Rua 1 - SP')") 
cursordc.execute("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'silva', 11111211889, 'Rua 2 - SP')") 
cursordc.execute("INSERT INTO dados_cadastrais VALUES(3, 'pedro', 'pereira',11111211786, 'Rua 8 - SP')")
cursordc.execute("INSERT INTO dados_cadastrais VALUES(4, 'paulo', 'ribeiro', 11111211123, 'Rua 9 - SP')")
conndc.commit()

In [3]:
import sqlite3
conndp = sqlite3.connect("dados_profissionais")
print(conndp)
cursordp = conndp.cursor()
cursordp.execute("CREATE TABLE dados_profissionais (id integer, graduacao text, cargo text, salario integer, tempo_casa integer)")

<sqlite3.Connection object at 0x0000023DF80298A0>

In [4]:
cursordp.execute("INSERT INTO dados_profissionais VALUES(1, 'matematica', 'professor', 3500.89, 3)") 
cursordp.execute("INSERT INTO dados_profissionais VALUES(2, 'geografia', 'orientador', 2850.8, 1)") 
cursordp.execute("INSERT INTO dados_profissionais VALUES(3, 'historia', 'orientador',3200.45, 1)")
cursordp.execute("INSERT INTO dados_profissionais VALUES(4, 'fisica', 'professor', 1890.33, 2)")
conndp.commit()

Comando para validar se a tabela dados cadastrais estava criada:

In [5]:
cursordc.execute('SELECT name from sqlite_master where type= "table"')
cursordc.fetchall()

[('dados_cadastrais',)]

Comando para apresentar todos os dados provenientes da tabela dados_cadastrais:

In [13]:
cursordc.execute("SELECT * FROM dados_cadastrais")
cursordc.fetchall()

[(1, 'maria', 'silva', 11111211313, 'Rua 1 - SP'),
 (2, 'joao', 'silva', 11111211889, 'Rua 2 - SP'),
 (3, 'pedro', 'pereira', 11111211786, 'Rua 8 - SP'),
 (4, 'paulo', 'ribeiro', 11111211123, 'Rua 9 - SP')]

Comando para validar se a tabela dados profissionais estava criada:

In [5]:
cursordp.execute('SELECT name from sqlite_master where type= "table"')
cursordp.fetchall()

[('dados_profissionais',)]

Comando para apresentar todos os dados provenientes da tabela dados_profissionais:

In [6]:
cursordp.execute("SELECT * FROM dados_profissionais")
cursordp.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'fisica', 'professor', 1890.33, 2)]

Usando a tabela dados profissionais, realizada query retornando todos os campos da tabela ordenando-os pela coluna tempo de casa, de maneira decrescente:

In [7]:
cursordp.execute("SELECT id, graduacao, cargo, salario, tempo_casa FROM dados_profissionais ORDER BY tempo_casa DESC")
cursordp.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'fisica', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

Contagem da quantidade de funcionários da empresa:

In [14]:
cursordc.execute("SELECT COUNT(id) FROM dados_cadastrais")
cursordc.fetchall()

[(4,)]

Usando a tabela dados cadastrais, realizada query listando apenas os funcionários que possuem sobrenome "silva", ordenados pelo nome completo:

In [22]:
cursordc.execute("SELECT nome, sobrenome FROM dados_cadastrais WHERE sobrenome = 'silva' ORDER BY nome |" "| sobrenome ASC")
cursordc.fetchall()

[('joao', 'silva'), ('maria', 'silva')]

Realizada query para listagem de valor da folha de pagamento da empresa por cargo, usando a tabela dados_profissionais:

In [31]:
cursordp.execute("SELECT SUM(salario) as salario_cargo, cargo FROM dados_profissionais\
                GROUP BY cargo")
cursordp.fetchall()

[(6051.25, 'orientador'), (5391.219999999999, 'professor')]